<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали блога</title>
</head>
<body>
<button><a href="/blog/{{post.id}}/update">Edit</a></button>
<button><a href="/blog/{{post.id}}/delete">Delete</a></button>

    <h1>{{ blog.title }}</h1>
    <p>{{ post.created_at }}</p>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300" height="300">
    {% else %}
    <p>No Image</p>
    {% endif %}
    <p>{{ post.description }}</p>
    <p>{{ post.author }}</p>
    <p>{{ post.category }}</p>
    <p>{{ post.time_new }}</p>
    <p>{{ post.video }}</p>
    <p>{{ post.music }}</p>

    <h2>Отзывы: </h2>
    {% for review in post.reviews.all %}
    <p>{{ review.text }}</p>
    <p>{{ review.author }}</p>
    <p>{{ review.created_at }}</p>
    {% endfor %}

</body>
</html>
